VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_WALMART_CLIENT_ID=71a15add-ed8e-40ad-bbc8-ccb23af6bf9c
VITE_WALMART_CLIENT_SECRET=ANOho_lgadmw00NW_wd1Z1emgwOvz7kLEWGHon2fdF7z0qL8rbOxUsP_L7RFYrB-dR-8TJuMRdFRENQ4MjumAP8